mixin skill (name, value, checked)
  li(class="skills__item")
    input(class="skills__field visually-hidden" type="checkbox" name=name value=value id=name+"-field" checked=checked)
    label(class="skills__label" for=name+"-field")= value

fieldset(class="skills form__group")
  legend(class="title skills__title") Профессиональные навыки
  p(class="skills__subtitle") Чекбоксами отмечены те навыки, которые освоены на достаточном уровне и регулярно используются в работе. Неотмеченные навыки находятся в процессе изучения в данный момент.
  ul(class="skills__list")
    +skill("HTML", "HTML/CSS", true)
    +skill("JS", "JavaScript", true)
    +skill("BEM", "БЭМ/OOCSS", true)
    +skill("Pug", "Pug (Jade)", true)
    +skill("Less", "LESS/SASS/Stylus", true)
    +skill("SVG", "SVG/Canvas", true)
    +skill("GRUNT", "Gulp/GRUNT", true)
    +skill("Semantics", "Соблюдаю семантику", true)
    +skill("Adaptive", "Верстаю адаптивно", true)
    +skill("Accessibility", "Accessibility (A11Y)", true)
    +skill("Webpack", "Webpack", false)
    +skill("WebGL", "WebGL", false)
    +skill("ES", "ES2015/ES2017", true)
    +skill("jQuery", "jQuery/Bootstrap", true)
    +skill("React", "Знаю React", true)
    +skill("Angular", "Знаю Angular/Vue", false)
    +skill("Node.js", "Знаю Node.js", true)
    +skill("Git", "Использую Git/SVN", true)
    +skill("Git", "WordPress/Bitrix", true)
    +skill("Jira", "Работал с Jira/Redmine", true)
    +skill("english", "У меня хороший английский", true)
